ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: rgba(223, 194, 67, 0.979);
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-weight: bold;
    overflow: hidden;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color:orangered;
}

.active {
    background-color:orangered;
}